 <section class='menu noSelect animated' ng-animate>
 <br>
 <br>
     <div>
          <div class="top-menu">
            <p class="tlc">
            <br>
              <img src="assets/img/aniston.jpg" alt=""><br>
              <span>Jennifer Aniston</span>
              
              </p>
<br>
          </div>
          <a href="">
               <i class="fa fa-check-circle-o"></i>
               <span>Checkins</span>
          </a>
          <a href="">
               <i class="fa fa-star-o"></i>
               <span>Moteles Favoritos</span>
          </a>
          <a href="">
               <i class="fa fa-credit-card"></i>
               <span>Mi Balance</span>
          </a>
          <a href="">
               <i class="fa fa-binoculars"></i>
               <span>Acerca de</span>
          </a>
     </div>
</section>