 <section class='near wrapper animated' ng-animate>
          		 	  <br>
                           <br>
          		 	  <br>
          		 	  
          		 	   <table style='font-size:12px; width:100%;'>
          		 	      <tr>
          		 	      	<td style='width:40px'><img  width='40' alt='image' src='{{promo.src}}'/></td>
          		 	      	<td>
          		 	      		<table style='width:100%;' >
          		 	      			<tr><td>Motel Passion</td></tr>
          		 	      			<tr><td>Ubicacion</td></tr>
          		 	      			<tr><td>***</td></tr>
          		 	      			<tr><td>1000 checkin</td></tr>
          		 	      		</table>
          		 	      	</td>
          		 	      	<td>
          		 	      		<table style='width:100%;' class='tlr'>
          		 	      			<tr><td>2 horas desde</td></tr>
          		 	      			<tr><td><strong>$20.0000</strong></td></tr>
          		 	      			<tr></tr>
          		 	      			<tr><td><button>Checkin ahora</button></td></tr>
          		 	      		  </table>
          		 	      	</td>
          		 	      </tr>
          		 	   </table>

          		 	
          		 </section>